<div class="col-md-2" style="padding-left: 0px; padding-right: 0px;">
    <div class="btn-group-vertical btn-block" role="group">
        <a href="@Url.Content("~/Institucional/Index/1")" class="btn btn-default">Fábrica de Softwares</a>
        <a href="@Url.Content("~/Institucional/Index/2")" class="btn btn-default">Aplicativos Mobile</a>
        <a href="@Url.Content("~/Institucional/Index/3")" class="btn btn-default">Soluções Integradas</a>
        <a href="@Url.Content("~/Institucional/Index/4")" class="btn btn-default">Big Data & Data Mining</a>
        <a href="@Url.Content("~/Institucional/Index/5")" class="btn btn-default">Portais Corporativos</a>
        <a href="@Url.Content("~/Institucional/Index/6")" class="btn btn-default">Soluções CRM & SAC</a>
    </div>
</div>
