<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="margin-top: 15px;">
                <img src="@Url.Content("~/Content/img/logo.png")" alt="agilecore" />
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right navbar-main">
                <li><a href="@Url.Content("~/Home/Index")"><span>Nossa</span>Empresa</a></li>
                <li><a href="@Url.Content("~/Servicos/Index")"><span>Nossos</span>Serviços</a></li>
                <li><a href="@Url.Content("~/Tecnologia/Index")"><span>Inovação e</span>Tecnologia</a></li>
                <li><a href="@Url.Content("~/Projetos/Index")"><span>Cases e</span>Projetos</a></li>
                <li><a href="@Url.Content("~/Clientes/Index")"><span>Nossos</span>Clientes</a></li>
                <li><a href="@Url.Content("~/Contato/Index")"><span>Entre em</span>Contato</a></li>
            </ul>
        </div>
    </div>
</nav>